@page "/imc"
@using Imc.Pages.ImcCalculator.Components
@using Imc.Data.Interfaces
@using Imc.Services.Interfaces

<PageTitle>Cálculo de IMC</PageTitle>

<ImcCalculatorForm Model="Imc" CalculateCallback="@CalculteImc">
    <button type="button" class="btn btn-secondary" @onclick="ToCalcExpanationPage">Entenda o cálculo</button>
</ImcCalculatorForm>

<ModalDialog ConfirmationActionCallback="SaveHistoryAsync" @ref="_modalDialog">
    <button type="button" class="btn btn-secondary" @onclick="ToHistoryPageAsync">Ver meu histórico</button>
</ModalDialog>

@code {
    [Inject] private IJSRuntime JsRuntime { get; set; } = null!;
    [Inject] private IImcCalculatorService ImcCalculatorService { get; set; } = null!;
    [Inject] private ILocalStorageRepository Repository { get; set; } = null!;

    private Imc.Models.ImcCalculator Imc { get; set; } = new();
    private ModalDialog _modalDialog = null!;

    private async Task ToCalcExpanationPage() 
        => await JsRuntime.InvokeAsync<object>("open", "https://www.unimedcampinas.com.br/blog/cuidado-continuo/entenda-o-que-e-calculo-imc-e-para-que-serve", "_blank");

    private async Task ToHistoryPageAsync()
    {
        await _modalDialog.HideModalAsync();
        NavigationManager.NavigateTo("history");
    }

    private async Task CalculteImc()
    {
        var result = ImcCalculatorService.Calculate(Imc);
        _modalDialog.Title = result.DisplayTitle;
        _modalDialog.Body = result.Body;
        _modalDialog.ConfirmationButtonCaption = "Registrar medidas";
        await _modalDialog.ShowModalAsync();
    }

    private async Task SaveHistoryAsync()
    {
        var imcList = await Repository.GetItemListAsync() ?? new List<Imc.Models.ImcCalculator>();
        imcList.Add(Imc);
        await Repository.SetItemAsync(imcList);
        await ToHistoryPageAsync();
    }

}