@page "/imc"
@using Imc.Pages.ImcCalculator.Components
@using Imc.Services;

<PageTitle>Cálculo de IMC</PageTitle>

<ImcCalculatorForm Model="Imc" Calculate="CalcularImc">
    <button type="button" class="btn btn-secondary" @onclick="ToCalcExplicationPage">Entenda o cálculo</button>
</ImcCalculatorForm>

<ModalDialog Title="@Title" Body="@Body" ConfirmationButton="SalvarHistoricoAsync" ShowModal="ShowModal">
    <button type="button" class="btn btn-secondary" @onclick="ToHistoryPage">Ver meu histórico</button>
</ModalDialog>

@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; } = null!;
    private Imc.Models.ImcCalculator Imc { get; set; } = new();
    private bool ShowModal = false;
    private string Title = String.Empty;
    private string Body = String.Empty;

    private async Task ToCalcExplicationPage()
    {
        await JSRuntime.InvokeAsync<object>("open", "https://www.unimedcampinas.com.br/blog/cuidado-continuo/entenda-o-que-e-calculo-imc-e-para-que-serve", "_blank");
        return;
    }

    private void ToHistoryPage()
    {
        NavigationManager.NavigateTo("history");
        return;
    }

    private void CalcularImc()
    {
        var ImcCalculatorService = new ImcCalculatorService();
        var result = ImcCalculatorService.Calculate(Imc);
        Title = result.Icon + ' ' + result.Title;
        Body = result.Body;
        StateHasChanged();
        ShowModal = true;
        return;
    }

    private async Task SalvarHistoricoAsync()
    {
        var imcList = await LocalStorage.GetItemAsync<List<Imc.Models.ImcCalculator>>("ImcList") ?? new List<Imc.Models.ImcCalculator>();
        imcList.Add(Imc);
        await LocalStorage.SetItemAsync("ImcList", imcList);
        ToHistoryPage();
        return;
    }
}
