@page "/history"

@using Imc.Services
@using Imc.Pages.History.Components
@using Imc.Data

<PageTitle>History</PageTitle>

<div class="container col-md-6">
    <div class="text-center">
        <img class="img-thumbnail mb-3" src="icon-no-bg.png" alt="Logo" style="height: 95px; width: 95px;">
        <h1 class="mb-3">Histórico</h1>
    </div>
    
    <HistoryList Model="@ModelList" />
</div>

@code {
    [Inject] private IImcCalculatorService ImcCalculatorService { get; set; } = null!;
    [Inject] private ILocalStorageRepository Repository { get; set; } = null!;
    
    private List<ImcCalculator>? ModelList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ModelList = await Repository.GetItemListAsync();
    }
}
